.app__createCV {
  display: flex;
  flex-direction: column;
  padding-left: 140px;
  padding-right: 140px;
  margin-left: 243px;
  margin-right: 243px;
}

.app__createCV form {
  display: flex;
  flex-direction: column;
}

.app__createCV form h2 {
  font-family: var(--font-mont);
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
  margin-bottom: 5px;
  margin-top: 30px;
}

.app__createCV form input[type="text"],
.app__createCV form input[type="number"] {
  all: unset;

  display: flex;
  align-items: center;
  background: #afcbe0;
  border-radius: 30px;
  padding: 20px;
  max-width: 520px;

  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}

.app__createCV form textarea {
  all: unset;
  background: #afcbe0;
  border-radius: 30px;
  padding: 20px;

  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000000;

  max-width: 1135px;
}

.app__createCV button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #5b9cc3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 20px;

  font-family: var(--font-mont);
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #000000;

  margin-top: 50px;
  margin-bottom: 60px;
  max-width: 520px;
}

.app__createCV button:hover {
  background: #a7c5d8;
  transition: 0.5s ease;
}

@media screen and (max-width: 1630px) {
  .app__createCV {
    margin-left: 120px;
    margin-right: 120px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media screen and (max-width: 1383px) {
  .app__createCV {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .app__createCV form h2 {
    font-size: 27px;
    line-height: 32px;
  }
  .app__createCV form input[type="text"] {
    font-size: 27px;
    line-height: 32px;
  }
  .app__createCV form textarea {
    font-size: 27px;
    line-height: 32px;
  }

  .app__createCV button {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 27px;
    line-height: 32px;
  }
}

@media screen and (max-width: 450px) {
  .app__createCV {
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
