.app__profile {
  display: flex;
  flex-direction: column;
  padding-left: 140px;
  padding-right: 140px;
  margin-left: 243px;
  margin-right: 243px;
}

.app__profile-info {
  display: flex;
  flex-direction: row;
  margin-top: 56px;
  align-items: center;
}

.app__profile-info img,
.app__profile-achievements_list img {
  width: 200px;
  margin-right: 15px;
}

.app__profile-info_text {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.app__profile-info_text h2 {
  font-family: var(--font-mont);
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
}

.app__profile-achievements {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.app__profile-achievements h2 {
  font-family: var(--font-mont);
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-bottom: 10px;
}

.app__profile-achievements_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 19px;
}

.app__profile-myProjects,
.app__profile-takeProjects {
  display: flex;
  flex-direction: column;
}

.app__profile-takeProjects {
  margin-bottom: 60px;
}

.app__profile-myProjects-head,
.app__profile-takeProjects-head {
  font-family: var(--font-mont);
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  color: #000000;
  margin-top: 50px;
  margin-bottom: 10px;
}

.app__profile-myProjects button,
.app__profile-takeProjects button {
  all: unset;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #afcbe0;
  border-radius: 30px;
  padding: 14px 45px;
  max-width: 150px;
  align-self: center;
  margin-top: 17px;
}

.app__profile-myProjects button:hover,
.app__profile-takeProjects button:hover {
  background: #5b9cc3;
  transition: 0.5s ease;
}

.app__profile-myProjects-wrap,
.app__profile-takeProjects-wrap {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.app__profile-myProjects-wrap img,
.app__profile-takeProjects-wrap img {
  margin-left: 10px;
  width: 25px;
  height: 15px;
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
}


@media screen and (max-width: 1630px) {
  .app__profile {
    margin-left: 120px;
    margin-right: 120px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media screen and (max-width: 1383px) {
  .app__profile {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 60px;
    padding-right: 60px;
  }
}

@media screen and (max-width: 1000px) {
  .app__profile-info_text h2 {
    font-size: 30px;
    line-height: 38px;
  }
  .app__profile-achievements h2 {
    font-size: 30px;
    line-height: 38px;
  }
  .app__profile-info img {
    width: 150px;
  }
  .app__profile-achievements_list img {
    width: 100px;
  }
  .app__profile-myProjects-head,
  .app__profile-takeProjects-head {
    font-size: 30px;
    line-height: 38px;
  }
}

@media screen and (max-width: 450px) {
  .app__profile {
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .app__profile-info {
    flex-direction: column;
    align-items: flex-start;
  }
}
