.app__requests {
  display: flex;
  flex-direction: column;
  padding-left: 140px;
  padding-right: 140px;
  margin-left: 243px;
  margin-right: 243px;
  min-height: 100vh;
}

.app__requests-posts {
  display: flex;
  flex-direction: column;
  margin-top: 26px;
  margin-bottom: 60px;
}

@media screen and (max-width: 1630px) {
  .app__requests {
    margin-left: 120px;
    margin-right: 120px;
    padding-left: 120px;
    padding-right: 120px;
  }
}

@media screen and (max-width: 1383px) {
  .app__requests {
    margin-left: 2rem;
    margin-right: 2rem;
    padding-left: 60px;
    padding-right: 60px;
  }
}


@media screen and (max-width: 450px) {
  .app__requests {
    margin-left: 0rem;
    margin-right: 0rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
