* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background: #EFF5F9;
}

a {
  color: unset;
  text-decoration: none;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg__wrap {
  background: #ffffff;
}
